@model FlyTickets2025.web.Data.Entities.Seat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailableForSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailableForSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.FlightNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AircraftModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AircraftModel.Model)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
